body {
    font-family: Arial, sans-serif;
    margin: 0;
    font-size: 12px;
    padding: 0;
    position: relative; /* Allows absolute positioning of child elements */
    width: 100vw;
    height: 100vh;
    background-color: #f8f8f8;
    overflow: hidden; /* Prevents scrollbars from appearing */
}

#name {
    font-family: Arial, serif;
    color: #000000;
}

#name .name-switch:last-child {
    display: none; /* Hide second span initially */
}

.randomly-placed {
    position: absolute;
}

.project {
    border: 0px solid #ccc;
    width: 200px;
    cursor: pointer;
    display: grid; /* Changed to grid */
    justify-items: start; /* New property */
}

.project img {
    width: 100%;
    height: auto;
}

.project h2 {
    font-family: Arial, sans-serif;
    color: #000000;
    opacity: 0;
    transition: opacity 0s;
    text-align: left;
}

.project:hover h2 {
    opacity: 1;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    overflow: auto; /* Added this line */
    cursor: pointer;
}

#overlay-content {
    margin: 40px; /* Added this line, to give some space around the content */
    padding: 20px;
    font-size: 28px;
    width: 50%; /* Adjust this value as needed */
    height: auto; /* Adjust this value as needed */
    color: rgb(0, 0, 0);
    text-align: left;
}


@media screen and (max-width: 600px) {
    /* Adjust styles for smaller screens if necessary */
}